@import '../../../../style/constants.scss';
$open-color: palette(Green, 500);
$closed-color: palette(Red, 500);

.open-button {
    width: 4em;
    height: 4em;

    &.open {
        background-color: $open-color;
    }
    
    &.closed {
        background-color: $closed-color;
    }
}

.btn-circle {
    padding: 0;
    border-radius: 50%;

    div {
        width: 100%;
        text-align: center;
    }
}
