<div class="component">
  <div class="nav-top-block">
    <div *ngIf="loadingProject" class="loading">
      <div class="spinner-wrapper">
        <tt-spinner
          [color]="'#fff'"
        >
        </tt-spinner>
      </div>
    </div>
    <a md-button *ngIf="!loadingProject" class="project-picker" href="javascript:void(0);" (click)="onProjectClick()">
      <div *ngIf="project != null" class="project-present">
        <div *ngIf="project.icon != null" class="project-icon">
          <img src="{{project.icon}}">
        </div>
        <div class="project-name">
          {{ project.name }}
        </div>
      </div>
      <div *ngIf="project == null" class="project-none">
        <span>No project</span>
      </div>
    </a>
  </div>
  <div class="project-selection-block" [class.expanded]="showingSelection" [class.collapsed]="!showingSelection">
    <a *ngFor="let project of otherProjects" md-button [routerLink]="['project', project.id, 'tickets']" class='selection-button'>
      <div class="selection-item">
        <div *ngIf="project.icon != null" class="small-project-icon">
          <img src="{{project.icon}}">
        </div>
        <div class="small-project-name">
          {{ project.name }}
        </div>
      </div>
    </a>
  </div>
  <div class="navadmin-block">
    <div>
      <a md-button [routerLink]="['']">
        <i class='link-icon fa fa-home'></i>
        <span class='link-text'>Home</span>
      </a>
    </div>
    <div>
      <a md-button *ngIf="isAdmin" [routerLink]="['users']">
        <i class='link-icon fa fa-user'></i>
        <span class='link-text'>Users</span>
      </a>
    </div>
    <div>
      <a md-button [routerLink]="['projects']">
        <i class='link-icon fa fa-th-list'></i>
        <span class='link-text'>Projects</span>
      </a>
    </div>
  </div>
  <div *ngIf="project != null" class="project-links">
    <div>
      <a md-button [routerLink]="['project', project.id, 'tickets']">
        <i class='link-icon fa fa-ticket'></i>
        <span class='link-text'>Tickets</span>
      </a>
    </div>
    <div>
      <a md-button [routerLink]="['project', project.id, 'burndown']">
        <i class='link-icon fa fa-area-chart'></i>
        <span class='link-text'>Burndown</span>
      </a>
    </div>
  </div>
</div>
