<div class="component">
  <div class="nav-top-block">
    <div *ngIf="loadingProject" class="loading">
      <div class="spinner-wrapper">
        <tt-spinner
          [color]="'#fff'"
        >
        </tt-spinner>
      </div>
    </div>
    <a md-button *ngIf="!loadingProject" class="project-picker" href="javascript:void(0);" (click)="onProjectClick()">
      <div *ngIf="project != null" class="project-present">
        <div *ngIf="project.icon != null" class="project-icon">
          <img src="{{project.icon}}">
        </div>
        <div class="project-name">
          {{ project.name }}
        </div>
      </div>
      <div *ngIf="project == null" class="project-none">
        <span>No project</span>
      </div>
    </a>
  </div>
  <div *ngIf="showingSelection" class="project-selection-block">
    <div *ngFor="let project of otherProjects" class="selection-item">
      <a md-button [routerLink]="['project', project.id, 'tickets']" class='selection-button'>
        {{ project.name }}
      </a>
    </div>
  </div>
  <div class="navadmin-block">
    <div>
      <a md-button [routerLink]="['']"><span class="glyphicon glyphicon-home"></span> Home</a>
    </div>
    <div>
      <a md-button *ngIf="isAdmin" [routerLink]="['users']"><span class="glyphicon glyphicon-user"></span> Users</a>
    </div>
    <div>
      <a md-button [routerLink]="['projects']"><span class="glyphicon glyphicon-th-list"></span> Projects</a>
    </div>
    <div>
      <a md-button [routerLink]="['whoami']"><span class="glyphicon glyphicon-user"></span> Whoami</a>
    </div>
  </div>
  <div *ngIf="project != null" class="project-links">
    <div>
      <a md-button [routerLink]="['project', project.id, 'tickets']">Tickets</a>
    </div>
    <div>
      <a md-button [routerLink]="['project', project.id, 'burndown']">Burndown</a>
    </div>
  </div>
</div>
