.component {
  height: 100%;
  width: 100%;
  text-align: left;
  background-color: darkslategrey;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading {
  width: 2em;
  height: 2em;
}

.nav-top-block{
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  color: white;
  margin-top: 2rem;
}

.navadmin-block {
  width: 100%;
}


.project-links {
  width: 100%;
  margin-top: 2rem;
}


div a {
  color: white;
  text-align: left
}
