@import '../../../../style/constants.scss';

.comments {
    overflow: hidden;
}

.comment-wrapper {
    margin-bottom: 2rem;
}

.more {
  @extend %card;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4em;
  margin-bottom: 2rem;
}

.more-text {
  max-width: 50%;
}
