@import '../../../../style/constants.scss';

.events {
    overflow: hidden;
}

.event-wrapper {
    margin-bottom: 2rem;
}

.event {
  @extend %card;
}

.header-row {
  width: 100%;
  align-items: center;
  display: flex;
  float: left;
  justify-content: space-between;
  margin-bottom: 1em;
}

.user {
  align-items: center;
  display: flex;
  float: left;
}

.user-icon {
  @extend %user-icon;
  margin-right: 1em;
}

.user-name {

  font-weight: bold;
}

.date {
  color: gray;
}

.text {
  margin-top: 1em;
}

.change-label {
  display: inline-block;
  width: 4em;
  margin-right: 1em;
}

#subtitle {
  font-size: 14pt;
  margin-bottom: 5px;
}
