<form (ngSubmit)="onSubmit()" #f="ngForm">
  <div class="row">
    <label for="imagepicker">Image</label>
    <tt-image-picker [portrait]="true" (image)="setImage($event)" name="imagepicker"></tt-image-picker>
  </div>
  <div class="row">
    <label for="name">Name *</label>
    <div class="form-group" [ngClass]="{'has-error has-feedback': false}">
      <input class="form-control" type="text" name="name" [(ngModel)]="request.name" placeholder="Name" required>
    </div>
  </div>
  <div class="row">
    <label for="username">Username *</label>
    <div class="form-group" [ngClass]="{'has-error has-feedback': false}">
      <input class="form-control" type="text" name="username" pattern="^[a-z0-9_]{3,30}$" [(ngModel)]="request.username" placeholder="Username"
        required>
        <small>Only 3 to 30 max. lowercase letters and numbers</small>
      <span *ngIf="false" class="glyphicon glyphicon-remove form-control-feedback"></span>
    </div>
  </div>
  <div class="row">
    <label for="mail">E-Mail *</label>
    <div class="form-group" [ngClass]="{'has-error has-feedback': false}">
      <input class="form-control" type="email" #mail name="mail" [(ngModel)]="request.mail" placeholder="mail@example.e" required>
      <span *ngIf="false" class="glyphicon glyphicon-remove form-control-feedback"></span>
    </div>
  </div>
  <div class="row">
    <label for="role">Role *</label>
    <select class="form-control" name="role" size="1" [(ngModel)]="request.role">
      <option *ngFor="let role of roles" value="{{role.role}}">{{role.role.charAt(0) + role.role.slice(1).toLowerCase()}}</option>
    </select>
  </div>
  <div class="row">
    <label for="password">Password *</label>
    <div class="form-group" [ngClass]="{'has-error has-feedback': false}">
      <input class="form-control" type="password" name="password" [(ngModel)]="request.password" placeholder="Password" required>
      <span *ngIf="false" class="glyphicon glyphicon-remove form-control-feedback"></span>
    </div>
  </div>
  <div class="row">
    <label for="confPassword">Confirm Password *</label>
    <div class="form-group" [ngClass]="{'has-error has-feedback': pwdConfFailed}">
      <input class="form-control" type="password" name="confPassword" [(ngModel)]="confPassword" placeholder="Confirm Password"
        (key-down)="pwdConfFailed = false" required>
      <span *ngIf="pwdConfFailed" class="glyphicon glyphicon-remove form-control-feedback"></span>
    </div>
  </div>
  <div class="row">
    <input type="button" type="submit" [disabled]="!f.form.valid" class="btn btn-success btn-block" *ngIf="!working" (click)="onSubmit()"
      value="Create User">
  </div>
</form>
