@import '../../../style/constants.scss';
.burn-down-chart-container {
  height: 100%;
  width: 100%;
}

.form-control {
  border-radius: 0px !important;
}

.core {
  @extend %card;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.chart {
  max-width: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  @extend %title;
  margin-bottom: $medium-gap;
}

.sub-header-row {
  margin-bottom: $medium-gap;
}
