<div class='burn-down-chart-container'>
    <div *ngIf="loading" class='loading'>
        <tt-loading></tt-loading>
    </div>
    <div *ngIf="!loading" class="content row">
        <div class='core'>
            <div class='header-row'>
                <h1 class='title'>Burn Down Chart</h1>
            </div>
            <div class='sub-header-row row'>
                <div class='col-md-8'>
                <label for='ticketFilter'>Filter Tickets</label>
                <tt-ticket-filter id='ticketFilter' [allTicketTags]="allTicketTagsForFilter" [allUsers]="allProjectUsers" [addToQuery]="query" (ticketFilter)="handleUpdateFilter($event)" [disabledFilterHelper]="disabledFilterHelper" [defaultFilterOpen]="true" [hideErrorBox] = "true" ></tt-ticket-filter>
                </div>
                 <div class='col-md-2'>
                    <label for='fromDate'>From</label>
                    <datetime id='fromDate' [(ngModel)]="fromDate" (ngModelChange)="handleFromDateChange($event)" [datepicker]="datePickerOpts" [timepicker]="false"></datetime>
                </div>
                <div class='col-md-2'>
                    <label for='toDate'>to</label>
                    <datetime id='toDate' [(ngModel)]="toDate" (ngModelChange)="handleToDateChange($event)" [datepicker]="datePickerToOpts" [timepicker]="false"></datetime>
                </div>
            </div>
            <div class='chart'>
                <canvas baseChart width="800" height="400" 
                    [datasets]="lineChartData" 
                    [labels]="lineChartLabels" 
                    [options]="lineChartOptions"
                    [colors]="lineChartColors"
                    [legend]="lineChartLegend" 
                    [chartType]="lineChartType">
                </canvas>
            </div>
        </div>
    </div>
</div>