<div class='burn-down-chart-container'>
    <div *ngIf="loading" class='loading'>
        <tt-loading></tt-loading>
    </div>
    <div *ngIf="!loading" class="content row">
	<div class="main">
        <div class='core'>
        <div class='header-row'>
                    <h1 class='title'>Burn Down Chart</h1>
        </div>
        <div class='sub-header-row'>
                todo search
        </div>
        <div class='chart'>
                todo chart
        </div>
        </div>
    </div>
	</div>
</div>