<div class='event'>
  <div class='header-row'>
    <div class='user'>
      <div class='user-icon'><img src='http://lorempixel.com/100/100/cats'/></div>
      <div class='user-name'><span>?user?</span></div>
    </div>
    <div class='date'>{{ dateFromInstant(event.time) | date:'medium' }}</div>
  </div>
  <div [ngSwitch]='event.type'>
    <div *ngSwitchCase='"TicketEventTitleChangedResultJson"'>
      <tt-ticket-event-old-new
      [title]='"Title changed"'
      [oldString]='event.srcTitle'
      [newString]='event.dstTitle'
      ></tt-ticket-event-old-new>
    </div>
    <div *ngSwitchCase='"TicketEventCurrentEstimatedTimeChangedResultJson"'>
      <tt-ticket-event-old-new
      [title]='"Current estimated time changed"'
      [oldString]='event.srcCurrentEstimatedTime'
      [newString]='event.dstCurrentEstimatedTime'
      ></tt-ticket-event-old-new>
    </div>
    <div *ngSwitchCase='"TicketEventParentChangedResultJson"'>
      <tt-ticket-event-old-new
        [title]='"Parent ticket changed"'
        [oldString]='event.srcParentNumber'
        [newString]='event.dstParentNumber'
      ></tt-ticket-event-old-new>
    </div>
    <div *ngSwitchCase='"TicketEventCommentTextChangedResultJson"'>
      <tt-ticket-event-old-new
        [title]='"Comment text changed"'
        [oldString]='event.srcText'
        [newString]='event.dstText'
      ></tt-ticket-event-old-new>
    </div>
    <div *ngSwitchCase='"TicketEventDueDateChangedResultJson"'>
      <tt-ticket-event-old-new
        [title]='"Due date changed"'
        [oldString]='dateFromInstant(event.srcDueDate) | date:"medium"'
        [newString]='dateFromInstant(event.dstDueDate) | date:"medium"'
      ></tt-ticket-event-old-new>
    </div>
    <div *ngSwitchCase='"TicketEventInitialEstimatedTimeChangedResultJson"'>
      <tt-ticket-event-old-new
        [title]='"Initial estimated time changed"'
        [oldString]='event.srcInitialEstimatedTime'
        [newString]='event.dstInitialEstimatedTime'
      ></tt-ticket-event-old-new>
    </div>
    <div *ngSwitchCase='"TicketEventStateChangedResultJson"'>
      <tt-ticket-event-old-new
        [title]='"State changed"'
        [oldString]='event.srcState ? "Open" : "Close"'
        [newString]='event.dstState ? "Open" : "Close"'
      ></tt-ticket-event-old-new>
    </div>
    <div *ngSwitchCase='"TicketEventUserAddedResultJson"'>
      <tt-ticket-event-user
        [userId]='event.addedUserId'
        [userName]='event.addedUserUsername'
        [tagId]='event.assignmentTagId'
        [tagName]='event.assignmentTagName'
        [added]='true'
      ></tt-ticket-event-user>
    </div>
    <div *ngSwitchCase='"TicketEventUserRemovedResultJson"'>
      <tt-ticket-event-user
        [userId]='event.removedUserId'
        [userName]='event.removedUserUsername'
        [tagId]='event.assignmentTagId'
        [tagName]='event.assignmentTagName'
        [added]='false'
      ></tt-ticket-event-user>
    </div>
  </div>
</div>
