<form (ngSubmit)="onSubmit()" #f="ngForm">
  <div class="row">
    <div class="col-md-6" id="imagePickerCol">
      <label for="imagepicker">Icon</label>
      <tt-image-picker (image)="setImage($event)" [defaultImage]="iconWithMimeType" name="imagepicker"></tt-image-picker>
    </div>
    <div class="col-md-4 pull-right">
      <label for="status">Active</label>
       <md-slide-toggle [(ngModel)]="active" (change)="changeActive()"  name="active" color="warn"></md-slide-toggle>
    </div>
  </div>
  <div class="row">
    <label for="name">Name *</label>
    <input class="form-control" type="text" name="name" [(ngModel)]="request.name" placeholder="Name" required>
  </div>
  <div class="row">
    <label for="description">Description *</label>
    <textarea rows="10" cols="50" class="form-control" type="text" name="description" [(ngModel)]="request.description" placeholder="Description"
      required></textarea></div>
  <div class="row">
    <input type="button" class="btn btn-default btn-block" (click)="revert()" value="Revert Changes">
    <input type="button" type="submit" [disabled]="!f.form.valid" class="btn btn-success btn-block" *ngIf="!working" (click)="onSubmit()"
      value="Update Project">
  </div>
</form>
