@import '../../../../style/constants.scss';

$story-points-background: palette(Blue, 500);

.points-container {
    width: 2em;
    height: 2em;
    font-size: 2em;
    background-color: $story-points-background;
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center;
    flex-direction: column;
    border-radius: 50%;

    input {
        outline: none;
        background: none;
        border: none;
        text-align: center;
    }
}

.points {
    cursor: pointer;
}
