@import '../../../../style/constants.scss';

$edit-background-color: palette(Grey, 100);
$points-font-size: 2em;

.points-container {
    width: 4em;
    height: 4em;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    position: relative;
}

.points-textview {
    float: left;
}

tt-edit-button {
    position: absolute;
    right: 0;
    top: 0;
}

.points {
    font-size: $points-font-size;
    text-align: center;
}

input {
    width: 100%;
    font-size: $points-font-size;
    text-align: center;
}