@import '../../../../style/constants.scss';

$edit-background-color: palette(Grey, 100);
$points-font-size: 2em;

.points-container {
    width: 4em;
    height: 4em;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    input {
        font-size: $points-font-size;
        outline: none;
        background: $edit-background-color;
        border: none;
        text-align: center;
    }

    .points {
        font-size: $points-font-size;
        text-align: center;
    }

    tt-edit-button {
        float: right;
    }
}