@import '../../../../style/constants.scss';

.comment {
    @extend .card;
}

.header-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    vertical-align: center;
}

.user-icon {
    height: 2em;
    width: 2em;
    border-radius: 50%;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
    }
}

.user-name {
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.text {
    margin-top: 1em;
}