@import "constants.scss";
$fa-font-path: '../../node_modules/font-awesome/fonts';
@import '~font-awesome/scss/font-awesome';

/* Background pattern from subtlepatterns.com */
body {
    background-image: url('../public/img/handmadepaper.png')
}

md-sidenav-layout {
    background: none;
}

main {
    height: 100%;
    width: 100%;
}