@import '~google-material-color/dist/palette';

// Conversion of a pixel to a (r)em at standard zoom and standard font size.
$px: (1 / 16);

// Base fonts
$base-font: "Roboto", sans-serif;
$base-pt: 10.5pt;
$base-line-height: 1.5;

%title {
    font-size: ($base-pt * 2.25);
}

%subtitle {
    font-size: ($base-pt * 1.5);
}

// Layout stuff
$card-background: palette(White, 500);
$card-shadow: 0 ($px * 1rem) ($px * 3rem) rgba(0,0,0,0.12);
$card-padding: 1rem;
$thin-line: ($px * 1rem);  // Use whenever you want to use "one pixel"
$small-gap: 1rem;   // Use for margins between seperate complex elements in a "section"
$medium-gap: 2rem;  // Use for seperation of sections or subsections
$large-gap: 4rem;   // Use for seperation of section oif medium does not cut it.
$internal-gap: 1ex; // Use for internal spacing, like in tables or if you need a larger space character.

// Colors
$font-color: palette(Black, Primary);
$edit-font-color: palette(Black, Disabled);
$edit-font-color-focus: palette(Black, Secondary);

// Other stuff :)
$fast-transition: 75ms ease-in-out;

// Edit link/button
%edit-a {
    color: $edit-font-color;
    transition: color $fast-transition;
    text-transform: uppercase;
    font-size: ($base-pt * 0.75);
    font-weight: 500;

    &:hover, &:focus {
        color: $edit-font-color-focus;
        transition: color $fast-transition;
    }
}

// Layout card
%card {
    background: $card-background;
    box-shadow: $card-shadow;
    padding: $card-padding;
}

// User/Project icon
%user-icon {
    height: 2em;
    width: 2em;
    border-radius: 50%;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
    }
}


// Button reset
%reset-button {
    background: none;
    border: none;
}