<div class='title-input'>
  <input type='text' [(ngModel)]='title' (focus)='startEditing()'>
</div>
<div class='description-input' *ngIf='editing'>
    <tt-command-textview
        [initialContent]="'Description'"
        [projectId]="parentTicket.projectId"
        [activeTags]="activeTags"
        [assignedUsers]="assignedUsers"
        [allTicketTags]="allTicketTags"
        [allTimeCategories]="allTimeCategories"
        [allAssignmentTags]="allAssignmentTags"
        (contentChange)="this.content = $event"
        (save)="onSubmit()"
    >
    </tt-command-textview>
</div>
