@import '../../../../style/constants.scss';

.header {
  @extend %edit-a;
}

.input {
  margin-left: $internal-gap;
}

.title-input > input {
  border: $thin-line solid palette(Grey, 300);
  padding: 0.2em;
}

.description-input {
  border: $thin-line solid palette(Grey, 300);
  margin-top: $small-gap;
  padding: 0.2em;
}

.below {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  .help {
    flex-grow: 1;
    flex-shrink: 1;
  }

  .buttons {
    flex-grow: 0;
    flex-shrink: 0;
    margin-top: $small-gap;

    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;

    .button-abort {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: $internal-gap;
    }
  }
}
