@import '../../../style/constants.scss';


.kanban-board-container {
  height: 100%;
  width: 100%;
}

.loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content:center;
  align-items:center;
}

.title {
  @extend %title;
  margin-bottom: $medium-gap;
}

.board {
  @extend %card;
  margin-bottom: $small-gap;
  width: 300px;
}
