<form (ngSubmit)="onSubmit()" #f="ngForm">
  <div class="row">
     <label for="imagepicker">Icon</label>
    <tt-image-picker (image)="setImage($event)" name="imagepicker"></tt-image-picker>
  </div>
  <div class="row">
    <label for="name">Name</label>
    <input class="form-control" type="text" name="name" [(ngModel)]="request.name" placeholder="Name" required>
  </div>
  <div class="row">
    <label for="description">Description</label>
    <textarea rows="10" cols="50" class="form-control" type="text" name="description" [(ngModel)]="request.description" placeholder="Description" required></textarea></div>
  <div class="row">
    <input type="button" type="submit" [disabled]="!f.form.valid" class="btn btn-success btn-block" *ngIf="!working" (click)="onSubmit()"
      value="Create Project">
  </div>
</form>