 @import '../../../../style/constants.scss';

 .row {
   margin-top: $small-gap;
   position: relative;
 }
 
 .datatable {
   text-align: left;
   margin: 10px 0 10px 0;
 }
 
 .search {
   margin-top: $medium-gap;
 }
  
 .form-group {
   margin: 0 0 0 0;
 }
 
 .no-scroll {
   overflow: hidden;
 }
 
 * .btn {
   border-radius: 0;
 }
 
 .overlay {
   @extend %overlay;
 }

.card{
  @extend %card;
  margin-bottom: 2em;
}
