 @import '../../../../style/constants.scss';

 .tag {
   @extend %tag;
   margin-right: $internal-gap;
   margin-left: 0px;
   padding-top: 0px;
   padding-bottom: 0px;
 }

 .row {
   margin-top: $small-gap;
   position: relative;
 }

 .datatable {
   text-align: left;
   margin: 10px 0 10px 0;
 }

 .search {
   margin-top: $medium-gap;
 }

 .form-group {
   margin: 0 0 0 0;
 }

 .no-scroll {
   overflow: hidden;
 }

 * .btn {
   border-radius: 0;
 }

 .overlay {
   @extend %overlay;
 }

.card{
  @extend %card;
  margin-bottom: 2em;
}

.loading {
  @extend %loading
}

