 @import '../../../style/constants.scss';

 .row {
  margin-top: $small-gap;
  position: relative;
    }
.datatable {
  text-align: left;
  margin: 10px 0 10px 0;
    }
.search{
  margin-top:  $medium-gap;
}
.tooltip > .tooltip-inner {
    background-color: #73AD21; 
    color: #FFFFFF; 
    border: 1px solid green;
    padding: 15px;
    font-size: 20px;
}