<div class="ticket-overview-container form-box">
  <div *ngIf="loading" class="loading">
    <tt-loading></tt-loading>
  </div>
  <div *ngIf="!loading">
    <div class="overview">
      <div class="search row">
        <div class="col-md-12">
          <tt-ticket-filter [allTicketTags]="allTicketTags" [addToQuery]="query" [allUsers]="allProjectUsers" [defaultFilterOpen]="true"
            (ticketFilter)="updateFilter($event)">
          </tt-ticket-filter>
        </div>
      </div>
      <ngx-datatable class="material" [rows]="rows" [columns]="columns" [columnMode]="'force'" [headerHeight]="32" [rowHeight]="32"
        [footerHeight]="32" [externalPaging]="true" [count]="totalElements" [offset]="offset" [limit]="limit" [scrollbarH]="true"
        [scrollbarV]="false" [loadingIndicator]="reloading" reorderable="false" [externalSorting]="true" (sort)="onSort($event)"
        (page)='onPage($event)' [cssClasses]="iconsCss" [selectionType]="'row'" (activate)="activate($event)">
        <ngx-datatable-column name="#" prop="number" width="64" maxWidth="64" [draggable]="false" [resizeable]="false">
          <template let-row="row" let-value="value" ngx-datatable-cell-template>
            <span *ngIf="row.parentTicketNumber">
            <a  *ngIf="row.parentTicketOpen" routerLink="/project/{{projectId}}/ticket/{{row.parentTicketNumber}}" tooltip="{{row.parentTicketTitle}}" tooltipPlacement="bottom" tooltipTrigger="mouseenter">#{{row.parentTicketNumber}}</a>    
            <a  *ngIf="!row.parentTicketOpen"routerLink="/project/{{projectId}}/ticket/{{row.parentTicketNumber}}" tooltip="{{row.parentTicketTitle}}" tooltipPlacement="bottom" tooltipTrigger="mouseenter"><s style="color: grey;">#{{row.parentTicketNumber}}</s></a> /   
            </span>
          <s *ngIf="!row.open"><a routerLink="/project/{{projectId}}/ticket/{{row.number}}" style="color: grey;">#{{value}}</a></s>
          <span *ngIf="row.open"><a routerLink="/project/{{projectId}}/ticket/{{row.number}}">#{{value}}</a></span>
          </template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Title" minWidth="128" width="256" [draggable]="false">
          <template let-row="row" let-value="value" ngx-datatable-cell-template>
            <a routerLink="/project/{{projectId}}/ticket/{{row.number}}">
              <s style="color: grey;" *ngIf="!row.open">{{value}}</s>
              <span *ngIf="row.open">{{value}}</span>
            </a>
          </template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Tags" minWidth="64" width="256" maxWidth="512" [draggable]="false" [sortable]="false">
          <template let-row="row" let-value="value" ngx-datatable-cell-template>
            <tt-tagview [tags]="value" (clickedTag)="onTagClicked($event)"></tt-tagview>
          </template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Asignees" prop="users" minWidth="128" width="128" maxWidth="128" [draggable]="false" [sortable]="false" [resizeable]="false">
          <template let-row="row" let-value="value" ngx-datatable-cell-template>
            <div float="left">
              <tt-assigned-user-overview [users]="value" (clickedUser)="onUserClicked($event)"></tt-assigned-user-overview>
            </div>
          </template>
        </ngx-datatable-column>
        <ngx-datatable-column name="SP" prop="storyPoints" minWidth="96" width="96" maxWidth="96" [draggable]="false" [resizeable]="false">
        </ngx-datatable-column>
        <ngx-datatable-column name="Due Date" prop="dueDate" minWidth="128" width="128" maxWidth="128" [draggable]="false" [resizeable]="false">
          <template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{value | date: 'yyyy-MM-dd'}}
          </template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Progress" minWidth="128" width="128" [draggable]="false" [resizeable]="false">
          <template let-row="row" let-value="value" ngx-datatable-cell-template>
            <div *ngIf="value !== '' && value <= 1" style="border:solid 0.11em #d3d3d3; margin:0.5em" tooltip="{{value*100 | number : '1.0-0'}}%"
              tooltipPlacement="bottom" tooltipTrigger="mouseenter">
              <div style="background:linear-gradient(to bottom, #00b7ea 0%,#009ec3 100%);height:0.8em" [style.width]="value*100+'%'"></div>
            </div>
            <div *ngIf="value !== '' && value > 1" style="border:solid 0.11em #d3d3d3; margin:0.5em" tooltip="{{value*100 | number : '1.0-0'}}%"
              tooltipPlacement="bottom" tooltipTrigger="mouseenter">
              <div style="background:linear-gradient(to bottom, #ff3019 0%,#cf0404 100%);height:0.8em" [style.width]="100+'%'"></div>
            </div>
            <div *ngIf="value === ''" style="margin-left: 3em" tooltip="No estimation!" tooltipPlacement="bottom" tooltipTrigger="mouseenter">
              -
            </div>
          </template>
        </ngx-datatable-column>
      </ngx-datatable>
      <div class="bottom">
        <input type="button" class="btn btn-primary button-submit" value="Add" (click)="onStartCreate()">
      </div>
    </div>
    <div *ngIf="creating" class="create-overlay" (click)="onStopCreate()">
      <div class="create-popup" (click)="$event.stopPropagation()">
        <div class="head">
          <h3 class="title">
            Create Ticket
          </h3>
          <button type="button" class="exit" (click)="onStopCreate()">
            <i class='fa fa-times'></i>
          </button>
        </div>
        <div class="body">
          <tt-ticket-create [projectId]="projectId" [allTicketTags]="allTicketTags" [allTimeCategories]="allTimeCategories" [allAssignmentTags]="allAssignmentTags"
            (ticketAdd)="onTicketCreate($event)" [working]="createRunning">
          </tt-ticket-create>
        </div>
      </div>
    </div>
  </div>
</div>
