 @import '../../../style/constants.scss';

 .ticket-overview-container {
   width: 100%;
   height: 100%;
 }
 .btn{
   border-radius: 0;
 }

.loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content:center;
  align-items:center;
}

 .row {
  margin-top: $small-gap;
  position: relative;
    }
.datatable {
  text-align: left;
  margin: 10px 0 10px 0;
    }
.search{
  margin-top:  $medium-gap;
}

.tooltip > .tooltip-inner {
    background-color: #73AD21;
    color: #FFFFFF;
    border: 1px solid green;
    padding: 15px;
    font-size: 20px;
}
 
.overview {
  position: relative;
  z-index: 0;
}

.bottom {
  margin-top: $small-gap;
  display: flex;
  flex-direction: row-reverse;
}

.overlay {
  @extend %overlay;
  .overlay-body{
    width: 50em;
  }
}

.card{
  @extend %card;
  margin-bottom: 2em;
}
