<div class="col-md-10 col-md-offset-1 form-box">
  <div *ngIf="loading">
    <tt-loading></tt-loading>
  </div>
  <div *ngIf="!loading">
    <div class="search row">
      <div class="col-md-4"><tt-command-search [allTicketTags]="allTicketTags" [allAssignmentTags]="allAssignmentTags"></tt-command-search></div>
    </div>
    <swui-datatable class="material" [rows]="rows" [columns]="columns" [columnMode]="'force'" [headerHeight]="32" [rowHeight]="32"
      [footerHeight]="32" [externalPaging]="true" [count]="totalElements" [offset]="offset" [limit]="limit" [scrollbarH]="true"
      [scrollbarV]="false" [loadingIndicator]="reloading" [externalSorting]="true" (sort)="onSort($event)" (page)='onPage($event)'
      [cssClasses]="iconsCss" [selectionType]="'row'" (activate)="activate($event)">
      <swui-datatable-column name="#" prop="number"  width="48" maxWidth="48" resizeable="false">
        <template let-value="value" swui-datatable-cell-template>
          {{value}}
        </template>
      </swui-datatable-column>
      <swui-datatable-column name="Title" minWidth="128" width="256">
        <template let-row="row" let-value="value" swui-datatable-cell-template>
          <a routerLink="/project/{{projectId}}/ticket/{{row.id}}">{{value}}</a>
        </template>
      </swui-datatable-column>
      <swui-datatable-column name="Tags"  minWidth="64" width="256" maxWidth="512" sortable="false">
        <template let-row="row" let-value="value" swui-datatable-cell-template>
          <tt-tagview [tags]="value" (clickedTag)="onTagClicked($event)"></tt-tagview>
        </template>
      </swui-datatable-column>
      <swui-datatable-column name="Asignees" prop="users" minWidth="128" width="128" maxWidth="128">
        <template let-row="row" let-value="value" swui-datatable-cell-template>
          <div float="left">
            <tt-assigned-user-overview [users]="value"></tt-assigned-user-overview>
          </div>
        </template>
      </swui-datatable-column>
      <swui-datatable-column name="SP" prop="storyPoints" minWidth="64" width="64" maxWidth="64" resizeable="false">
        <template let-row="row" let-value="value" swui-datatable-cell-template>
          {{value}}
        </template>
      </swui-datatable-column>
      <swui-datatable-column name="Due Date" prop="dueDate" minWidth="96" width="96" maxWidth="96">
        <template let-row="row" let-value="value" swui-datatable-cell-template>
          {{value | date: 'dd/MM/yyyy'}}
        </template>
      </swui-datatable-column>
      <swui-datatable-column name="Progress" minWidth="128" width="128" maxWidth="128">
        <template let-column="column" swui-datatable-header-template>
          Progress
        </template>
        <template let-row="row" let-value="value" swui-datatable-cell-template>
          <div style="border:solid 1px #555;margin:2px;">
            <div style="background:#00bfff;height:10px" [style.width]="75+'%'"></div>
          </div>
        </template>
      </swui-datatable-column>
    </swui-datatable>
  </div>
</div>
