 @import '../../../style/constants.scss';

 .ticket-overview-container {
   width: 100%;
   height: 100%;
 }
 .btn{
   @extend %btn;
 }

.loading {
  @extend %loading
}

 .row {
  margin-top: $small-gap;
  position: relative;
    }
.datatable {
  text-align: left;
  margin: 10px 0 10px 0;
    }
.aboveTableButtons{
  margin-top: 3.5em;
}

.tooltip > .tooltip-inner {
    background-color: #73AD21;
    color: #FFFFFF;
    border: 1px solid green;
    padding: 15px;
    font-size: 20px;
}
 
.overview {
  position: relative;
  z-index: 0;
}

.overlay {
  @extend %overlay;
  .overlay-body{
    width: 50em;
  }
}

.card{
  @extend %card;
  margin-bottom: 2em;
}
