<form (ngSubmit)="onSubmit()" #f="ngForm">
  <div class="row">
    <label for="name">Name *</label>
    <div class="form-group" [ngClass]="{'has-error has-feedback': f.controls.name?.touched && ! f.controls.name?.valid}">
      <input class="form-control" type="text" name="name" minlength="1" [(ngModel)]="request.name" required>
      <span *ngIf="f.controls.name?.touched && !f.controls.name?.valid" class="glyphicon glyphicon-remove form-control-feedback"></span>
    </div>
  </div>
  <div class="row">
    <label for="color">Color *</label>
    <div class="form-group" [ngClass]="{'has-error has-feedback': f.controls.color?.touched && ! f.controls.color?.valid}">
      <input class="form-control" type="color" name="color" [(ngModel)]="request.color" required>
      <span *ngIf="f.controls.color?.touched && !f.controls.color?.valid" class="glyphicon glyphicon-remove form-control-feedback"></span>
    </div>
  </div>
  <div class="row">
    <input type="button" type="submit" [disabled]="!f.form.valid" class="btn btn-success btn-block" *ngIf="!working" (click)="onSubmit()"
      value="Create Assignment Tag">
  </div>
</form>
