<div class="itwill">
  <p *ngFor="let command of commands" [ngSwitch]="command.cmd">
    <span *ngSwitchCase="'time'">This will <code>log {{ command.minutes }} minutes</code> of <code>{{ command.category }}</code> time.</span>
    <span *ngSwitchCase="'assign'">This will <code>assign {{ command.user }}</code> with the tag <code>{{ command.tag }}</code>.</span>
    <span *ngSwitchCase="'unassign'">
          <span *ngIf="command.tag">This will <code>unassign {{ command.user }}</code> with the tag <code>{{ command.tag }}</code>.</span>
    <span *ngIf="!command.tag">This will completely <code>unassign {{ command.user }}</code>.</span>
    </span>
    <span *ngSwitchCase="'close'">This will <code>close</code> this ticket.</span>
    <span *ngSwitchCase="'reopen'">This will <code>reopen</code> this ticket.</span>
    <span *ngSwitchCase="'tag'">This will <code>add</code> the tag <code>{{ command.tag }}</code> to this ticket.</span>
    <span *ngSwitchCase="'untag'">This will <code>remove</code> the tag <code>{{ command.tag }}</code> from this ticket.</span>
    <span *ngSwitchCase="'est'">This will change the <code>estimated time</code> to <code>{{ command.minutes }} minutes</code>.</span>
    <span *ngSwitchCase="'refTicket'">This will <code>reference ticket #{{ command.ticket }}</code>.</span>
    <span *ngSwitchDefault>???</span>
  </p>
</div>
