<div class='comment-input'>
    <tt-command-textview
        [initialContent]="''"
        [ticket]="ticket"
        [allTicketTags]="allTicketTags"
        [allTimeCategories]="allTimeCategories"
        [allAssignmentTags]="allAssignmentTags"
        (contentChange)="this.content = $event"
    >
    </tt-command-textview>
    <div class="under">
      <div class="help">
        <tt-command-description
            [commands]="content.commands"
        >
        </tt-command-description>
        <tt-command-help></tt-command-help>
      </div>
      <div class="buttons">
        <input type='button' class='btn btn-primary button-submit' value='Submit' (click)="onSubmit()">
      </div>
    </div>
</div>
