 @import '../../../style/constants.scss';
 th {
   font-weight: bold;
 }
 
 .loading {
   @extend %loading
 }
 
 .tag {
   @extend %tag;
 }
 
 .title {
   @extend %title;
   margin-bottom: $small-gap;
 }
 
 .core {
   @extend %card;
 }
 
 .subtitle {
   @extend %subtitle;
   margin-bottom: $small-gap;
 }
 
 .ticket-tags {
   margin-top: 25px;
 }
 
 .mt-10 {
   margin-top: 10px;
 }
 
 .box {
   max-width: 1000px;
   margin-left: auto;
   margin-right: auto;
 }
 
 .ticket-tag {
   margin-bottom: $internal-gap;
 }
 
 .no-scroll {
   overflow: hidden;
 }
 
 * .btn {
   @extend %btn;
 }
 
 .overlay {
   @extend %overlay;
 }
 
 .card {
   @extend %card;
   margin-bottom: 3em;
 }
