<md-card>
  <div class="row">
    <div class="col-md-5">
      <div class="form-group" [ngClass]="{'has-error has-feedback': error===true}">
        <div class="input-group">
          <span class="input-group-btn">
          <button class="btn btn-default" [ngClass]="{'btn-danger': error===true}" (click)="onManualClick()">
            <i class="glyphicon glyphicon-filter" ></i></button>
        </span>
          <input #filterInput id="filterInput" type="text" class="form-control" [(ngModel)]=query (input)=debounce(filterInput.value)>
        </div>
        <i [ngClass]="{'glyphicon glyphicon-remove form-control-feedback filter-error': error===true}"></i>
      </div>
    </div>
    <div *ngIf="error" class="col-md-5"><label class="control-label col-md-5 filter-error-label" for="filterInput">{{errorMsg}}</label></div>
  </div>
</md-card>