@import '../../../../style/constants.scss';
.filter-error-label {
  color: #BF360C;
  margin: 0.5em 0 0 0;
  padding-left: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  height: 1.5em;
  max-height: 1.5em;
}

.filter .form-group {
  margin-bottom: 0.2em;
}

.filter-error-card {
  padding: 0 0.5em 0 0.5em;
  background-color: #FFCCBC;
}

b {
  font-weight: 800;
}

* .btn,
input,
select {
  @extend %btn;
}

.btn {
  @extend %btn;
}

.tag {
  @extend %tag;
  font-size: 0.9em;
  padding-top: 0.05em;
  padding-bottom: 0.05em;
}

.filterHelper {
  margin: 0.5em 1em 0 1em;
  padding: 0.2em 0 0.2em 0;
}

* {
  vertical-align: middle !important;
}

.dropdown-menu form {
  margin: 0.5em 0.5em 0.5em 0.5em;
}

.dropdown-menu {
  overflow: auto;
  max-height: 30em;
  z-index: 9999;
}

.dropdown-menu select {
  margin: 0 0 0.8em 0;
  min-width: 170px;
}

.noselect {
  a:hover {
    background-color: dodgerblue;
  }
  cursor: pointer;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari*/
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
