<div class="subtickets-container">
  <ul>
    <li *ngIf="tickets.size > 0">
      <tt-subticket
        [projectId]="parentTicket.projectId"
        [ticketId]="parentTicket.id"
        [number]="parentTicket.number"
        [title]="'This ticket'"
        [loggedTime]="parentTicket.progress.loggedTime"
        [estimatedTime]="parentTicket.progress.currentEstimatedTime"
        [initialEstimatedTime]="parentTicket.initialEstimatedTime"
        [open]="parentTicket.open"
        [showNumber]="false"
        [showProgress]="parentTicket.initialEstimatedTime != null"
      ></tt-subticket>
    </li>
    <li *ngFor="let ticket of tickets">
      <!--
        For subtickets total time should be equal to their time
        This might change though if we allow nested subtickets
        Therefore we use the total here
      -->
      <tt-subticket
        [projectId]="ticket.projectId"
        [ticketId]="ticket.id"
        [number]="ticket.number"
        [title]="ticket.title"
        [loggedTime]="ticket.progress.totalLoggedTime"
        [estimatedTime]="ticket.progress.totalCurrentEstimatedTime"
        [initialEstimatedTime]="ticket.initialEstimatedTime"
        [open]="ticket.open"
        [showNumber]="true"
        [showProgress]="ticket.initialEstimatedTime != null"
      ></tt-subticket>
   </li>
  </ul>
</div>
