<div class='ticket-detail-container'>
  <div *ngIf="loading" class='loading'>
    <tt-loading></tt-loading>
  </div>
  <div *ngIf="!loading">
    <h1 class='title'>{{kanbanBoard.name}}</h1>
    <div class='container'>
      <div *ngFor="let column of kanbanColumns" class='column-container'>
        <div class='column-header' [style.backgroundColor]="'#' + column.color">{{column.name}}</div>
        <div class='ticket-container' [dragula]='"first-bag"'>
          <div *ngFor="let ticket of column.tickets">
            <tt-kanban-cell
              [ticket]="ticket"
            ></tt-kanban-cell>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
