<div class='ticket-detail-container'>
  <div *ngIf="loading" class='loading'>
    <tt-loading></tt-loading>
  </div>
  <div *ngIf="!loading">
    <h1 class='title'>{{kanbanBoard.name}}</h1>
    <tt-ticket-filter [allTicketTags]="allTicketTagsForFilter" [allUsers]="allProjectUsers" (ticketFilter)="updateFilter($event)">
    </tt-ticket-filter>
    <div class='container'>
      <div *ngFor="let column of kanbanColumns" class='column-container'>
        <div class='column-header' [style.backgroundColor]="'#' + column.color">{{column.name}}</div>
        <div class='ticket-container' id="{{column.id}}" [dragula]='"first-bag"' [dragulaModel]='column.tickets'>
          <div *ngFor="let ticket of column.tickets" id="{{ticket.id}}">
            <tt-kanban-cell
              [ticket]="ticket"
            ></tt-kanban-cell>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
