<div class="progress-container">
  <div class="progress progress-bar-container">
    <div class="progress-bar progress-bar-custom " role="progressbar" [style.width]="fractionPercent()+'%'">
      <span *ngIf='!showNumbersOutside'>{{fraction | ttHumanizeDuration}}</span>
    </div>
    <div class="progress-bar progress-bar-custom2" role="progressbar" [style.width]="(100-fractionPercent())+'%'">
      <span *ngIf='!showNumbersOutside' class="progress-text">{{totalValue | ttHumanizeDuration}}</span>
    </div>
  </div>
  <div *ngIf='showNumbersOutside' class='progress-numbers'>{{fraction | ttHumanizeDuration}}/{{totalValue |
    ttHumanizeDuration}}
  </div>
</div>
