<div class="row">
  <div class="card col-sm-4 col-sm-offset-4 form-box">
    <img src="/img/TickTag-Logo-256p.png" class="centeredImage">
    <div class="form-top">
      <div class="form-top-left">
        <h2>Login </h2>
      </div>
    </div>
    <div class="form-bottom">
      <form class="login-form" (ngSubmit)="onSubmit()" #f="ngForm">
        <div class="form-group">
          <label for="form-email">E-Mail</label>
          <input class="form-email form-control" [(ngModel)]="email" name="email" placeholder="you@example.com" type="email" required>
        </div>
        <div class="form-group">
          <label for="form-password">Password</label>
          <input class="form-password form-control" [(ngModel)]="password" name="password" type="password" required>
        </div>
        <button type="submit" [disabled]="!f.form.valid" class="btn btn-success btn-block">Sign in!</button>
      </form>
    </div>
  </div>
</div>
