@import '../../../style/constants.scss';

.taginput {
  padding: 0;
  margin: 0;
}

.tags {
  margin-left: -$internal-gap;
}

.tag {
  @extend %tag;
}

.add-button {
  display: inline-block;
  margin-left: $internal-gap;

  a {
    @extend %edit-a;
  }
}

.newtag {
  display: inline;
}

.loading {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-left: $internal-gap;
}
