@import '../../../../style/constants.scss';

.CodeMirror {
    cursor: text;
}

.under {
    display: flex;
    flex-direction: row;
}

.help {
    flex-grow: 1;
    flex-shrink: 1;

    .commands {
        font-size: 75%;
        color: $edit-font-color;
        code {
            color: $edit-font-color-focus;
            background-color: transparent;
            font-weight: bold;
        }
    }
    .itwill {
        margin-bottom: $internal-gap;
        code {
            font-weight: bold;
            background-color: transparent;
        }
    }
}
