<h2>Create New Project</h2>

<form (ngSubmit)="onSubmit()" #f="ngForm">
	<div class="col-md-4"><input class="form-control" type="text" name="name" [(ngModel)]="request.name" placeholder="Name" required></div>
	<div class="col-md-4"><input class="form-control" type="text" name="description" [(ngModel)]="request.description" placeholder="Description" required></div>
	<div class="col-md-4"><input type="button" type="submit" [disabled]="!f.form.valid" class="btn btn-success btn-block" *ngIf="!working" (click)="onSubmit()"
			value="Create Project"></div>
	<span *ngIf="working">Working ...</span>
</form>