<form (ngSubmit)="onSubmit()" #f="ngForm">
  <div class="col-md-3"><input class="form-control" type="text" name="name" [(ngModel)]="request.name" placeholder="Name" required></div>
  <div class="col-md-3"><input class="form-control" type="text" name="description" [(ngModel)]="request.description" placeholder="Description" required></div>
  <div class="col-md-3"><input class="" type="file" name="icon" accept = "image/x-png,image/gif,image/jpeg" placeholder="Icon" (change)="encodeFile($event)"><img height="32px" width="32px" src="{{request.icon}}"></div>
  <div class="col-md-3"><input type="button" type="submit" [disabled]="!f.form.valid" class="btn btn-success btn-block" *ngIf="!working" (click)="onSubmit()"
      value="Create Project"></div>
</form>
