<div class="col-md-10 col-md-offset-1 form-box">
  <div *ngIf="!loading">
    <div class="row">
      <tt-project-create (created)="getProjects()"></tt-project-create>
    </div>
    <div class="search row">
      <div class="col-md-4"><input class="form-control" type='text' placeholder='Type to filter name...' (keyup)='updateFilter($event)' /></div>
    </div>

    <datatable class="material" [rows]="rows" [columns]="columns" [columnMode]="standard" [headerHeight]="50" [footerHeight]="50"
      [rowHeight]="auto" [externalPaging]="true" [count]="totalElements" [offset]="offset" [limit]="limit" [scrollbarH]="true"
      [scrollbarV]="false" [loadingIndicator]="refresh" [externalSorting]="true" (sort)="onSort($event)" (page)='onPage($event)'
      [cssClasses]="iconsCss">
      <datatable-column name="Icon" [width]="64">
        <template let-column="column">
          {{""}}
        </template>
        <template  let-value="value">
          <img class="img-circle" width="32" src="http://lorempixel.com/32/32/cats" />
        </template>
      </datatable-column>
      <datatable-column name="Name" >
        <template let-value="value">
          <p><strong>{{value}}</strong></p>
        </template>
      </datatable-column>
      <datatable-column name="CreationDate" [width]="100"> 
        <template let-row="row" let-value="value">
          {{value | date: 'dd/MM/yyyy'}}
        </template>
      </datatable-column>
      <datatable-column name="Description" >
         <template let-column="column">
          {{"Description"}}
        </template>
        <template let-row="row" let-value="value">
          <div class="form-group">
           {{value}}
          </div>
        </template>
      </datatable-column>
      <datatable-column name="Actions" [frozenRight]="true">
         <template id="test" let-column="column">
          {{"Actions"}}
        </template>
        <template>
          <button class="btn btn-sm"><span class="glyphicon glyphicon-edit"></span></button>
          <button class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
        </template>
      </datatable-column>

    </datatable>
  </div>
</div>