<div class='core'>
    <div *ngIf='!ticket.open' class='closed'>
        <img src='/img/checkmark_circle.svg' />
    </div>
    <div class='card-content'>
        <div class='header-row'>
            <h3 class='title'>
                <div class='title-container'>
                    <span class='number'>#{{ticket.number}}</span>
                    <span class='title-text-wrapper'>
                    <tt-edit-textview [(editing)]='editingTitle' [(content)]='ticket.title'>
                        <!-- TODO duplication, get rid of it -->
                        <tt-title-textview-read #read class='textview-read'>
                        </tt-title-textview-read>
                        <tt-title-textview-edit #edit class='textview-edit'>
                        </tt-title-textview-edit>
                    </tt-edit-textview>
                </span>
                    <tt-edit-button [visible]='!editingTitle' (click)='editingTitle=true'></tt-edit-button>
                </div>
            </h3>
            <tt-ticket-storypoints [(points)]='ticket.storyPoints'></tt-ticket-storypoints>
        </div>
        <div class='sub-header-row'>
            <div class='tags'>
                <tt-taginput [(tags)]='ticket.tagIds' [allTags]='ticketTags'></tt-taginput>
            </div>
        </div>
        <div class='subtickets'>Subtickets</div>
        <div class='status'>
            <div class='initial-estimation'>
                Initial estimation: {{ticket.initialEstimatedTime | ttHumanizeDuration}}
            </div>
            <div class='current-estimation'>
                Current estimation: {{ticket.currentEstimatedTime | ttHumanizeDuration}}
            </div>
            <div class='ticket-progress'>
                Progress: ???%
            </div>
            <div class='due-date'>
                Due date: {{ticket.dueDate | ttFormatMoment}}
            </div>
        </div>
        <div class='description-container'>
            <tt-edit-button [visible]='!editingDescription' (click)='editingDescription=true'></tt-edit-button>
            <div class='description-wrapper'>
                <tt-edit-textview [(editing)]='editingDescription' [(content)]='ticket.description'>
                    <!-- TODO duplication, get rid of it -->
                    <tt-markdown-textview-read #read class='textview-read'>
                    </tt-markdown-textview-read>
                    <tt-markdown-textview-edit #edit class='textview-edit'>
                    </tt-markdown-textview-edit>
                </tt-edit-textview>
            </div>
        </div>
        <div class='footer-row'>
            <div class='filler'></div>
            <div class='created-by'>
                Created by {{ ticketCreator.username }} on {{ticket.createTime | ttFormatMoment}}
            </div>
        </div>
    </div>
</div>