@import '../../../../style/constants.scss';

.core {
    @extend %card;
    overflow: hidden;
    position: relative;
}

.card-content {
  z-index: 1;
  position: relative;
}

.closed {
    width: 15rem;
    height: 15rem;
    position: absolute;
    top: -5rem;
    right: -5rem;
    z-index: 0;

    img {
        width: 100%;
        height: 100%;
    }
}

.header-row {
    display: flex;
    flex-direction: row;
}

.title {
    @extend %title;
    flex-grow: 1;
}

.title-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    .title-text-wrapper {
        margin-left: $internal-gap;
    }

    tt-edit-button {
        margin-left: $internal-gap;
    }
}

.sub-header-row {
    display: flex;
    flex-direction: row;
}

.tags {
    flex-grow: 1;
}

.description-container {
    tt-edit-button {
        float: right;
    }
}

.status {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    div {
        flex-basis: 50%;
        text-align: left;
    }
}

.footer-row {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;

    .filler {
        flex-grow: 1;
    }
}

.section-header {
  @extend %subtitle;
  color: palette(Grey, 600);
  margin-top: $medium-gap;
  margin-bottom: $small-gap;
  width: 100%;
  border-bottom: $thin-line solid palette(Grey, 300);

  .spinner {
      width: 1em;
      height: 1em;
      display: inline-block;
  }
}

.status-progress {
  margin-top: $small-gap;
}

.description-edit-wrapper {
  .under {
    display: flex;
    flex-direction: row;

    .help {
      flex-grow: 1;
      flex-shrink: 1;
    }

    .buttons {
      flex-grow: 0;
      flex-shrink: 0;
      margin-top: $small-gap;
      display: flex;
      flex-direction: row-reverse;
      flex-wrap: nowrap;
      height: 100%;

      .button-abort {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: $internal-gap;
      }
    }
  }
}

.subticket-add {
  margin-top: $small-gap;
}

.storypoints {
  position: absolute;
  top: -$card-padding;
  right: 8rem;
}

$ribbon-base: 1.5em;
$ribbon-color: palette(Blue, 500);

.ribbon {
  background-color: $ribbon-color;
  float: left;
  border-radius: $ribbon-base/10 $ribbon-base/10 0px 0px;
  border: none;
  width: $ribbon-base*3;
  height: $ribbon-base*4;
  position: relative;
  padding: $ribbon-base/10;
  display: flex;
  flex-direction: row;
  box-shadow: 0 $ribbon-base/50 $ribbon-base/10 rgba(0,0,0,0.5);

  &:hover {

    &::before {
    }
    &::after {
    }
  }

  &::before {
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      width: 0;
      height: 0;
      border-top: $ribbon-base solid $ribbon-color;
      border-right: $ribbon-base*2 solid transparent;
  }
  &::after {
      content: '';
      position: absolute;
      top: 100%;
      right: 0;
      width: 0;
      height: 0;
      border-top: $ribbon-base solid $ribbon-color;
      border-left: $ribbon-base*2 solid transparent;
  }

  .ribbon-content {
    margin: auto;
  }
}
