@import '../../../../style/constants.scss';

.core {
    @extend %card;
    overflow: hidden;
}

.header-row {
    display: flex;
    flex-direction: row;
}

.title {
    flex-grow: 1;
}

.title-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.sub-header-row {
    display: flex;
    flex-direction: row;
}

.tags {
    flex-grow: 1;
}

.description-container {
    margin-top: 2rem;

    tt-edit-button {
        float: right;
    }
}

.subtickets {
    margin-top: 2rem;
}

.status {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 2rem;

    div {
        flex-basis: 50%;
        text-align: left;
    }
}

.footer-row {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;

    .filler {
        flex-grow: 1;
    }
}