<div class='core'>
    <div class='header-row'>
        <h3 class='title'>
            <div class='title-container'>
                <span class='number'>#{{ticket.number}}</span>
                <span class='title-text-wrapper'>
                    <tt-editable-textview [(editing)]='editingTitle' [(text)]='ticket.title'></tt-editable-textview>
                </span>
                <tt-edit-button [visible]='!editingTitle' (click)='editingTitle=true'></tt-edit-button>
            </div>
        </h3>
        <tt-ticket-storypoints [(points)]='ticket.storyPoints'></tt-ticket-storypoints>
    </div>
    <div class='sub-header-row'>
        <div class='open-container'>
            <tt-open-closed-button [(open)]='ticket.open'></tt-open-closed-button>
        </div>
        <div class='tags'>
        </div>
    </div>
    <div class='description-container'>
        <tt-edit-button [visible]='!editingDescription' (click)='editingDescription=true'></tt-edit-button>
        <div class='description-wrapper'>
            <tt-editable-textview [(editing)]='editingDescription' [(text)]='ticket.description'></tt-editable-textview>
        </div>
    </div>
    <div class='subtickets'>Subtickets</div>
    <div class='status'>
        <div class='initial-estimation'>
            Initial estimation: {{ticket.initialEstimatedTime | ttHumanizeDuration}}
        </div>
        <div class='current-estimation'>
            Current estimation: {{ticket.currentEstimatedTime | ttHumanizeDuration}}
        </div>
        <div class='ticket-progress'>
            Progress: ???%
        </div>
        <div class='due-date'>
            Due date: {{ticket.dueDate | ttFormatMoment}}
        </div>
    </div>
    <div class='footer-row'>
        <div class='filler'></div>
        <div class='created-by'>
            Created by ?user? on {{ticket.createTime | ttFormatMoment}}
        </div>
    </div>
</div>