<div class='core'>
    <div *ngIf='!open' class='closed'>
        <img src='/img/checkmark_circle.svg' />
    </div>
    <div class='card-content'>
        <div class='header-row'>
            <h3 class='title'>
                <div class='title-container'>
                    <span class='number'>#{{number}}</span>
                    <span class='title-text-wrapper'>
                    <tt-edit-textview
                        [(editing)]='editingTitle'
                        [content]='title' (contentChange)='titleChange.emit($event)'>
                        <!-- TODO duplication, get rid of it -->
                        <tt-title-textview-read #read class='textview-read'>
                        </tt-title-textview-read>
                        <tt-title-textview-edit #edit class='textview-edit'>
                        </tt-title-textview-edit>
                    </tt-edit-textview>
                </span>
                    <tt-edit-button [visible]='!editingTitle' (click)='editingTitle=true'></tt-edit-button>
                </div>
            </h3>
            <tt-ticket-storypoints [points]='storypoints' (pointsChange)='storypointsChange.emit($event)'>
            </tt-ticket-storypoints>
        </div>
        <div class='sub-header-row'>
            <div class='tags'>
                <tt-taginput [tags]='tagIds' (tagAdd)='tagAdd.emit($event)' (tagRemove)='tagRemove.emit($event)' [allTags]='allTags'>
                </tt-taginput>
            </div>
        </div>
        <div class='section-header'>Subtickets</div>
        <div class='subtickets'>
            <tt-subtickets [tickets]='subtickets'>
            </tt-subtickets>
            <tt-subticket-add></tt-subticket-add>
        </div>
        <div class='section-header'>Status</div>
        <div class='status'>
            <div class='initial-estimation'>
                Initial estimation: {{initialEstimatedTime | ttHumanizeDuration}}
            </div>
            <div class='current-estimation'>
                Current estimation: {{currentEstimatedTime | ttHumanizeDuration}}
            </div>
            <div class='ticket-progress'>
                Progress: ???%
            </div>
            <div class='due-date'>
                Due date: {{dueDate | ttFormatMoment}}
            </div>
        </div>
        <div class='section-header'>Description</div>
        <div class='description-container'>
            <tt-edit-button [visible]='!editingDescription' (click)='editingDescription=true'></tt-edit-button>
            <div class='description-wrapper'>
                <tt-edit-textview [(editing)]='editingDescription' [content]='description' (contentChange)='descriptionChange.emit($event)'>
                    <!-- TODO duplication, get rid of it -->
                    <tt-markdown-textview-read #read class='textview-read'>
                    </tt-markdown-textview-read>
                    <tt-markdown-textview-edit #edit class='textview-edit'>
                    </tt-markdown-textview-edit>
                </tt-edit-textview>
            </div>
        </div>
        <div class='footer-row'>
            <div class='filler'></div>
            <div class='created-by'>
                Created by {{ creator.username }} on {{createTime | ttFormatMoment}}
            </div>
        </div>
    </div>
</div>
