@import '../../../../style/constants.scss';

.core {
    @extend %card;
    overflow: hidden;
    position: relative;
}

.card-content {
  z-index: 1;
  position: relative;
}

.closed {
    width: 15rem;
    height: 15rem;
    position: absolute;
    top: -5rem;
    right: -5rem;
    z-index: 0;

    img {
        width: 100%;
        height: 100%;
    }
}

.header-row {
    display: flex;
    flex-direction: row;
}

.title {
    @extend %title;
    flex-grow: 1;
}

.title-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    .parent-ticket {
      a {
        color: $font-color-secondary;
      }

      .parent-ticket-divider {
        color: $font-color-secondary;
        margin-left: $internal-gap / 2;
        margin-right: $internal-gap / 2;
      }
    }

    .title-text-wrapper {
        margin-left: $internal-gap;
    }

    tt-edit-button {
        margin-left: $internal-gap;
    }
}

.sub-header-row {
    display: flex;
    flex-direction: row;
}

.tags {
    flex-grow: 1;
}

.description-container {
    tt-edit-button {
        float: right;
    }
}

.storypoints {
  width: 100%;
  margin-bottom: $internal-gap;
}

.status-time {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    div {
        flex-basis: 50%;
        text-align: left;
    }
}

.footer-row {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;

    .filler {
        flex-grow: 1;
    }
}

.section-header {
  @extend %subtitle;
  color: palette(Grey, 600);
  margin-top: $medium-gap;
  margin-bottom: $small-gap;
  width: 100%;
  border-bottom: $thin-line solid palette(Grey, 300);

  .spinner {
      width: 1em;
      height: 1em;
      display: inline-block;
  }
}

.status-progress {
  margin-top: $small-gap;
}

.description-edit-wrapper {
  .command-textview {
    background-color: $background-secondary;
    border-radius: ($px * 6rem);
  }

  .under {
    display: flex;
    flex-direction: row;

    .help {
      flex-grow: 1;
      flex-shrink: 1;
    }

    .buttons {
      flex-grow: 0;
      flex-shrink: 0;
      margin-top: $small-gap;
      display: flex;
      flex-direction: row-reverse;
      flex-wrap: nowrap;
      height: 100%;

      .button-abort {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: $internal-gap;
      }
    }
  }
}

.subticket-add {
  margin-top: $small-gap;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
