<div class='subticket-container' [ngClass]='{"closed": !open}'>
    <a *ngIf="showNumber" [routerLink]="['/project', projectId, 'ticket', id]" class='number'>#{{number}}</a>
    <a *ngIf="!showNumber" class="number"></a>
    <a [routerLink]="['/project', projectId, 'ticket', id]" class='title'>{{title}}</a>
    <div class="progress-bar-container">
      <tt-progressbar [showNumbers]="false" [fraction]="loggedTime" [totalValue]="estimatedTime"></tt-progressbar>
    </div>
    <div class='progress-numbers'>{{ loggedTime | ttHumanizeDuration }}/{{ estimatedTime | ttHumanizeDuration }}
    </div>
</div>
