@import '../../../../style/constants.scss';

.subticket-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.open {
}

.closed {
  color: palette(Grey, 600);
  text-decoration: line-through;
}

.number {
flex-grow: 1;
}


.title {
  margin-left: $internal-gap;
  flex-grow: 1;
}

.barStyle {
  height: 100%;
  flex-grow: 12;
  margin-left: $internal-gap;
}

.progress-numbers {
  margin-left: $internal-gap;
}
