@import '../../../../style/constants.scss';

.subticket-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.closed {
  color: palette(Grey, 600);
  text-decoration: line-through;
}

.number-col {
  width: 10%;
}

.loading {
  width: 1em;
  height: 1em;
}

.error {
  width: 1em;
  height: 1em;
}

.title {
  width: 40%;
  overflow: hidden;
  margin-left: $internal-gap;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.progress-bar-container {
  height: 100%;
  flex-grow: 1;
  margin-left: $internal-gap;
}

.progress-numbers-logged {
  width: 7.5%;
  text-align: right;
  margin-left: $internal-gap;
}

.progress-numbers-estimated {
  width: 7.5%;
  text-align: right;
}

.progress-numbers-initial {
  width: 7.5%;
  color: palette(Grey, 600);
  text-align: right;
}
