<div class='subticket-container' [ngClass]='{"closed": !open}'>
    <div class="number-col">
      <a *ngIf="showNumber" [routerLink]="['/project', projectId, 'ticket', number]" class='number'>#{{number}}</a>
      <div *ngIf="loading" class="loading">
        <tt-spinner class="loading"></tt-spinner>
      </div>
      <a *ngIf="error" class="error" href="javascript:void(0);" (click)='onRestore()'>
        <i class="fa fa-exclamation-triangle"></i>
      </a>
    </div>
    <a *ngIf="!transient" [routerLink]="['/project', projectId, 'ticket', number]" class='title'>{{title}}</a>
    <span *ngIf="transient" class='title'>{{title}}</span>
    <div class="progress-bar-container">
      <tt-progressbar *ngIf="!transient && showProgress" [showNumbers]="false" [fraction]="loggedTime" [totalValue]="estimatedTime"></tt-progressbar>
    </div>
    <div class='progress-numbers-logged tooltip-container'>
      <span *ngIf="!transient" [tooltip]="'Logged time'"><span *ngIf="loggedTime > estimatedTime">! </span>{{ loggedTime | ttHumanizeDuration }}</span>

    </div>
    <div class='progress-numbers-estimated'>
      <span *ngIf="!transient" [tooltip]="'Current estimation'">{{ estimatedTime | ttHumanizeDuration }}</span>
    </div>
    <div class='progress-numbers-initial'>
      <span *ngIf="!transient" [tooltip]="'Initial estimation'">({{ initialEstimatedTime | ttHumanizeDuration }})</span>
    </div>
</div>
