@import '../../../../style/constants.scss';
$edit-background-color: palette(Grey, 300);

.container {
    width: 100%;
}

.reading {
    width: 100%;
    cursor: pointer;
}

.editing {
    width: 100%;
    background-color: $edit-background-color;

    textarea {
        width: 100%;
        height: auto;
        overflow: hidden;
        border: none;
        background-color: transparent;
        resize: none;
        outline: none;
        box-shadow: none;
    }
}