<div class='sidebar'>
    <div class='assigned-users'>
        <h3>Ticket Users</h3>
        <tt-assigned-user [user]="user" [tags]="tags" [allTags]="allTags"></tt-assigned-user>
    </div>
    <div class='references'>
        <h3>Referenced Tickets</h3>
        <ul class="ticket-refs">
            <li *ngFor="let ticket of referencedByTickets" class="ticket-ref">
                <span class="number"><a href="">#{{ ticket.number }}</a></span>
                <span class="title"><a href="">{{ ticket.title }}</a></span>
            </li>
        </ul>
    </div>
    <div class='referenced-by'>
        <h3>Referenced by</h3>
        <ul class="ticket-refs">
            <li *ngFor="let ticket of referencedByTickets" class="ticket-ref">
                <span class="number"><a href="">#{{ ticket.number }}</a></span>
                <span class="title"><a href="">{{ ticket.title }}</a></span>
            </li>
        </ul>
    </div>
</div>
