<div class='ticket-detail-container'>
    <div *ngIf="loading" class='loading'>
        <tt-loading></tt-loading>
    </div>
    <div *ngIf="!loading" class='content row'>
        <div class='left col-md-8'>
            <tt-ticket-core [ticket]='ticket' [ticketTags]='ticketTags'></tt-ticket-core>

            <div class='comments-wrapper'>
                <tt-ticket-comments [comments]='comments'></tt-ticket-comments>
            </div>
        </div>
        <div class='right col-md-4'>
            <tt-ticket-sidebar [ticket]="ticket"></tt-ticket-sidebar>
        </div>
    </div>

    <pre>{{ticket | json}}</pre>
    <pre>{{comments | json}}</pre>
</div>