<script src="ticket-detail.component.ts"></script>
<div class='ticket-detail-container'>
  <div *ngIf="loading" class='loading'>
    <tt-loading></tt-loading>
  </div>
  <div *ngIf="!loading" class='content row'>
    <div class='left col-md-8'>
      <tt-ticket-core [ticket]='ticket' [ticketTags]='allTicketTags'></tt-ticket-core>
      <div class='bottom-section'>
        <tabset>
          <tab heading='Comments'>
            <div class='comments-wrapper'>
              <tt-ticket-comments [comments]='comments'></tt-ticket-comments>
              <tt-ticket-comment-input
                [allTicketTags]='allTicketTags'
                [ticket]='ticket'
                [allTimeCategories]='allTimeCategories'
                [allAssignmentTags]='allAssignmentTags'
                [assignedUsers]='assignedUsers'
              ></tt-ticket-comment-input>
            </div>
            <tab heading='Activity'>
              <div>
                <tt-ticket-events [events]='ticketEvents'></tt-ticket-events>
              </div>
            </tab>
        </tabset>
      </div>
      <div class='right col-md-4'>
        <tt-ticket-sidebar [ticket]="ticket"></tt-ticket-sidebar>
      </div>
    </div>

    <pre>{{ticket | json}}</pre>
    <pre>{{comments | json}}</pre>
  </div>
</div>
