<div class='core'>
    <div class='header-row'>
        <h3 class='title'>
            <span class='number'>#{{ticket.number}}</span>
            <span class='title-text'>{{ticket.title}}</span>
        </h3>
        <div class='story-points'>
            {{ticket.storyPoints}}
        </div>
    </div>
    <div class='sub-header-row'>
        <div class='open-button'>
        </div>
        <div class='tags'>
        </div>
    </div>
    <div class='description'>{{ticket.description}}</div>
    <div class='subtickets'>Subtickets</div>
    <div class='status'>
        <div class='initial-estimation'>
            {{ticket.initialEstimatedTime}}
        </div>
        <div class='current-estimation'>
            TODO
        </div>
        <div class='ticket-progress'>
            TODO
        </div>
        <div class='due-date'>
            {{ticket.dueDate}}
        </div>
    </div>
</div>