<div class='sidebar'>
    <h3>Sidebar</h3>
    <div class='assigned-users'>
        <div class='assigned-user'>
            <div class='image'>
                III
            </div>
            <div class='info'>
                <div class='name'>
                    Franz
                </div>
                <div class='Tags'>
                    Tags
                </div>
            </div>
        </div>
    </div>
    <div class='references'>
        References
    </div>
    <div class='back-references'>
        Backreferences
    </div>
</div>
