<div class='core'>
    <div class='header-row'>
        <h3 class='title'>
            <div class='title-container'>
                <span class='number'>#{{ticket.number}}</span>
                <span class='title-text-wrapper'>
                    <tt-editable-textview [(text)]='ticket.title'></tt-editable-textview>
                </span>
            </div>
        </h3>
        <div class='story-points'>
            <input [(ngModel)]='ticket.storyPoints'>
        </div>
    </div>
    <div class='sub-header-row'>
        <div class='open-button'>
            <button type='button' class='btn btn-primary' [(ngModel)]='ticket.open' btnCheckbox btnCheckboxTrue='true' btnCheckboxFalse='false'>
            Open: {{ticket.open}}
            </button>
        </div>
        <div class='tags'>
        </div>
    </div>
    <div class='description'>
        <tt-editable-textview [(text)]='ticket.description'></tt-editable-textview>
    </div>
    <div class='subtickets'>Subtickets</div>
    <div class='status'>
        <div class='initial-estimation'>
            Initial estimation: {{ticket.initialEstimatedTime | ttHumanizeDuration}}
        </div>
        <div class='current-estimation'>
            Current estimation: {{ticket.currentEstimatedTime | ttHumanizeDuration}}
        </div>
        <div class='ticket-progress'>
            Progress: ???%
        </div>
        <div class='due-date'>
            Due date: {{ticket.dueDate | ttFormatMoment}}
        </div>
    </div>
    <div class='footer-row'>
        <div class='filler'></div>
        <div class='created-by'>
            Created by ?user? on {{ticket.createTime | ttFormatMoment}}
        </div>
    </div>
</div>