@import '../../../style/constants.scss';

$story-points-background: #2196F3;

.core {
    background-color: $card-background;
    overflow: hidden;
    padding: $card-padding;
}

.header-row {
    display: flex;
    flex-direction: row;
}

.title {
    flex-grow: 1;
}

.story-points {
    width: 2em;
    height: 2em;
    font-size: 2em;
    background-color: $story-points-background;
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center;
    flex-direction: column;
    border-radius: 50%;

    input {
        outline: none;
        background: none;
        border: none;
        text-align: center;
    }
}

.sub-header-row {
    display: flex;
    flex-direction: row;
}

.tags {
    flex-grow: 1;
}

.description {
    margin-top: 2rem;
}

.subtickets {
    margin-top: 2rem;
}

.status {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 2rem;

    div {
        flex-basis: 50%;
        text-align: left;
    }
}

.footer-row {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;

    .filler {
        flex-grow: 1;
    }
}