.core {
    background-color: #bdbdbd;
    overflow: hidden;
}

.sidebar {
    background-color: #bdbdbd;
    overflow: hidden;
}

.comments {
    background-color: #bdbdbd;
    overflow: hidden;
    margin-top: 1rem;
}