.sidebar {
    background-color: #bdbdbd;
    overflow: hidden;
}

.assigned-user {
    display: flex;
    flex-direction: row;
}

.image {
    width: 2em;
    height: 2em;
    background-color: yellow;
}

.info {
    display: flex;
    flex-direction: column;
}
