<div class='assigned-user'>
    <div class='image'>
        <tt-user-image [imageId]="user.imageId"></tt-user-image>
    </div>
    <div class='info'>
        <div class='name'>{{ user.name }}</div>
        <div class='tags'>
            <span class='hint' *ngIf='tags.size === 0'>This user has no tags assigned and therefore is not associated with this ticket.</span>
            <tt-taginput
                [editable]="editable"
                [tags]="tags"
                [allTags]="allTags"
                (tagAdd)="tagAdd.emit($event)"
                (tagRemove)="tagRemove.emit($event)"
            ></tt-taginput>
        </div>
    </div>
</div>
