@import "../../../../style/constants.scss";

.assigned-user {
    display: flex;
    flex-direction: row;
}

.image {
    @extend %user-icon;
    flex-grow: 0;
    flex-shrink: 0;
}

.info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    margin-left: $internal-space;
}

.name {
    font-weight: bold;
    flex-grow: 0;
    flex-shrink: 0;
}

.tags {
    flex-grow: 1;
    flex-shrink: 1;
}
